<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        section
            h1 Hello pug
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat sed expedita suscipit. Consequuntur, perspiciatis! Totam laboriosam iusto quia dolore nobis impedit, accusantium ex optio cumque non facere labore. Maiores, cum!